:root {
    --background-color: #ffffff;
    --primary-color: #ee1c29;

    // Loader
    --loader-bg-color-red: #ee1c29;
    --loader-bg-color-white: #ffffff;

    /* Navbar */
    --navbar-background-color: #000000;

    /* Sidebar */
    --sidebar-background-color: #ee1c29;
    --sidebar-active-background-color: #ffffff;

    /* Staff */
    --staff-header-background-color: #e2e2e2;
    --staff-addbutton-background-color: #ee1c29;
    --staff-gobutton-background-color: #7c7c7c;

    // Super Admin
    --super-admin-bg-color: #e9e9e9;
    --super-admin-horizontal-border-color: #000000;
    --super-admin-scroll-bar-color: #707070;
    --super-admin-scroll-thumb-color: #4e4e4e;
    --super-admin-table-border-color: #707070;
    --super-admin-table-row-bg-color: #ffffff;
    --super-admin-table-head-txt-color: #ffffff;

    // Login
    --login-input-text-color: #ffffff;
    --login-input-border-color: #cccccc;
    --login-forgot-text-color: #ffffff;
}
